<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mydash</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->

</head>

<body>
    {% block content %}
   
    <form method="POST" action="">

        {% csrf_token %} 
    <div>
        <h2>Laptop Form</h2>
        <div>
            {{form.as_p}}
            {{sform.as_p}}
        </div>
        <input type="submit" value="submit">
    </div>
    </form>
    
    {% endblock   %}


</body> 

</html> 
