{% extends 'homepage/base.html' %}

{% block content %}
  <!-- Start: Bootstrap Cards v2 -->
  <div class="bootstrap_cards2">
    <div class="container py-5">
        <!-- For Demo Purpose-->
        <!-- First Row [Prosucts]-->
        <h2 class="font-weight-bold mb-2">The Latest Tech Taking the Market by Storm</h2>
        <p class="font-italic text-muted mb-4">Discover the ultimate system of your dreams and compare it to the top grossing products with ease.</p>

        <div class="row pb-5 mb-4">
          {% for laptop in laptopo %}
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
              <!-- Card-->
              <div class="card rounded shadow-sm border-0">
                  <div class="card-body p-4"><img src="{{ laptop.images.url }}" alt="" class="img-fluid d-block mx-auto mb-3">
                      <h5 style = "text-overflow: ellipsis; "> <a href="{% url 'laptop-details' laptop.laptop_id %}" class="text-dark">{{ laptop.name|truncatechars:100 }}</a></h5>
                      <p class="small text-muted font-italic"><b>Price: ${{ laptop.price }}</b></p>
                      <ul class="list-inline small">
                          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                          <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                          <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                      </ul>
                  </div>
              </div>
            </div>
          {% endfor %}
          <center><a class = 'btn btn-outline-dark mt-4' style = "width:150px;" href= "{% url 'explore' %}">Explore more</a></center>
        </div>


        <!-- Second Row [Team]-->
        <h2 class="font-weight-bold mb-2">Our Team</h2>
        <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt.</p>

        <div class="row pb-5 mb-4">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-0 rounded">
                    <div class="card-body p-0"><img
                            src="https://res.cloudinary.com/mhmd/image/upload/v1570799922/profile-1_dewapk.jpg"
                            alt="" class="w-100 card-img-top">
                        <div class="p-4">
                            <h5 class="mb-0">Mark Rockwell</h5>
                            <p class="small text-muted">CEO - Consultant</p>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i
                                            class="fa fa-facebook-f"></i></a></li>
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i
                                            class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i
                                            class="fa fa-instagram"></i></a></li>
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i
                                            class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-0 rounded">
                    <div class="card-body p-0"><img
                            src="https://res.cloudinary.com/mhmd/image/upload/v1570799922/profile-3_ybnq8v.jpg"
                            alt="" class="w-100 card-img-top">
                        <div class="p-4">
                            <h5 class="mb-0">Mark Rockwell</h5>
                            <p class="small text-muted">CEO - Consultant</p>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i
                                            class="fa fa-facebook-f"></i></a></li>
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i
                                            class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i
                                            class="fa fa-instagram"></i></a></li>
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i
                                            class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-0 rounded">
                    <div class="card-body p-0"><img
                            src="https://res.cloudinary.com/mhmd/image/upload/v1570799924/profile-4_s3fort.jpg"
                            alt="" class="w-100 card-img-top">
                        <div class="p-4">
                            <h5 class="mb-0">Mark Rockwell</h5>
                            <p class="small text-muted">CEO - Consultant</p>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i
                                            class="fa fa-facebook-f"></i></a></li>
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i
                                            class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i
                                            class="fa fa-instagram"></i></a></li>
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i
                                            class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card shadow-sm border-0 rounded">
                    <div class="card-body p-0"><img
                            src="https://res.cloudinary.com/mhmd/image/upload/v1570799922/profile-2_ujssbj.jpg"
                            alt="" class="w-100 card-img-top">
                        <div class="p-4">
                            <h5 class="mb-0">Mark Rockwell</h5>
                            <p class="small text-muted">CEO - Consultant</p>
                            <ul class="social mb-0 list-inline mt-3">
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i
                                            class="fa fa-facebook-f"></i></a></li>
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i
                                            class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i
                                            class="fa fa-instagram"></i></a></li>
                                <li class="list-inline-item m-0"><a href="#" class="social-link"><i
                                            class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            


        <!-- First Row [Statistics]-->
    </div>
</div><!-- End: Bootstrap Cards v2 -->
{% endblock %}
